
<!DOCTYPE html>

<html lang="tr" dir="ltr">
<head>
<title>Parola değiştime | Admin Girişi</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>

<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">



    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=""
  data-admin-utc-offset="0">

<div id="container">

    <div id="header">
        <div id="branding">
        
<a >Hoşgeldiniz</a>

        </div>
        
        
        <div id="user-tools">
            
                Hoş Geldiniz,
                <strong>admin</strong>.
            
             Parolayı değiştir / <a href="/admin/logout/">Oturumu kapat</a>
        </div>
        
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">

&rsaquo; Parola değiştime

        
      
      <div class="content">
        
          
        
        <!-- Content -->
        <div id="content" class="colM">
          
          <h1>Parola değiştime</h1>
          
          <div id="content-main">

<form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="4GXAhF8CDhQykDRiCm99frcKRr7AaqHDrxk8xKBGshrG7IQ6vKgSJsmGXAY5c3t6">
<div>



<p>Güvenliğiniz için, lütfen eski parolanızı girin, ve ondan sonra yeni parolanızı iki kere girin böylece doğru olarak yazdığınızı doğrulayabilelim.</p>

<fieldset class="module aligned wide">

<div class="form-row">
    
    <label class="required" for="id_old_password">Eski parola:</label> <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
</div>

<div class="form-row">
    
    <label class="required" for="id_new_password1">Yeni parola:</label> <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
    
    <div class="help"><ul><li>Parolanız diğer kişisel bilgileriniz ile çok benzer olamaz.</li><li>Parolanız en az 8 karakter içermek zorundadır.</li><li>Parolanız yaygın olarak kullanılan bir parola olamaz.</li><li>Parolanız tamamıyla sayısal olamaz.</li></ul></div>
    
</div>

<div class="form-row">

    <label class="required" for="id_new_password2">Yeni parola onayı:</label> <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
    
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="Parolamı değiştir" class="default">
</div>

</div>
</form></div>


          
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
