
<!DOCTYPE html>

<html lang="tr" dir="ltr">
<head>
<title>Parola değiştime | Django site yöneticisi</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>

<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">



    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=""
  data-admin-utc-offset="0">

<div id="container">

    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">Admin Paneli</a></h1>

        </div>
        
        
        <div id="user-tools">
            
                Hoş Geldiniz,
                <strong>admin</strong>.
            
             Parolayı değiştir / <a href="/admin/logout/">Oturumu kapat</a>
        </div>
        
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/admin/">Giriş</a>
&rsaquo; Parola değiştime
</div>

    

    <div class="main shifted" id="main">
      
        
          
<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="Gezinmeyi aç/kapat"></button>
<nav class="sticky" id="nav-sidebar">
  


  
    <div class="app-auth module">
      <table>
        <caption>
          <a href="/admin/auth/" class="section" title="Kimlik Doğrulama ve Yetkilendirme uygulamasındaki modeller">Kimlik Doğrulama ve Yetkilendirme</a>
        </caption>
        
          <tr class="model-group">
            
              <th scope="row"><a href="/admin/auth/group/">Gruplar</a></th>
            

            
              <td><a href="/admin/auth/group/add/" class="addlink">Ekle</a></td>
            

            
          </tr>
        
          <tr class="model-user">
            
              <th scope="row"><a href="/admin/auth/user/">Kullanıcılar</a></th>
            

            
              <td><a href="/admin/auth/user/add/" class="addlink">Ekle</a></td>
            

            
          </tr>
        
      </table>
    </div>
  
    <div class="app-movies module">
      <table>
        <caption>
          <a href="/admin/movies/" class="section" title="Admin uygulamasındaki modeller">Sayfalar</a>
        </caption>
        
          <tr class="model-information">
            
              <th scope="row"><a href="/admin/movies/information/">Bilgiler</a></th>
            

            
              <td><a href="/admin/movies/information/add/" class="addlink">Ekle</a></td>
            

            
          </tr>
        
          <tr class="model-user">
            
              <th scope="row"><a href="/admin/movies/user/">Kişiler</a></th>
            

            
              <td><a href="/admin/movies/user/add/" class="addlink">Ekle</a></td>
            

            
          </tr>
        
          <tr class="model-message">
            
              <th scope="row"><a href="/admin/movies/message/">Mesajlar</a></th>
            

            
              <td><a href="/admin/movies/message/add/" class="addlink">Ekle</a></td>
            

            
          </tr>
        
          <tr class="model-smmtp">
            
              <th scope="row"><a href="/admin/movies/smmtp/">SMTP Ayarları</a></th>
            

            
              <td><a href="/admin/movies/smmtp/add/" class="addlink">Ekle</a></td>
            

            
          </tr>
        
          <tr class="model-ip">
            
              <th scope="row"><a href="/admin/movies/ip/">İp Adresler</a></th>
            

            
              <td><a href="/admin/movies/ip/add/" class="addlink">Ekle</a></td>
            

            
          </tr>
        
      </table>
    </div>
  


</nav>

        
      
      <div class="content">
        
  
        <div id="content" class="colM">
          
          <h1>Parola değiştime</h1>
          
          <div id="content-main">

<form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="4GXAhF8CDhQykDRiCm99frcKRr7AaqHDrxk8xKBGshrG7IQ6vKgSJsmGXAY5c3t6">
<div>



<p>Güvenliğiniz için, lütfen eski parolanızı girin, ve ondan sonra yeni parolanızı iki kere girin böylece doğru olarak yazdığınızı doğrulayabilelim.</p>

<fieldset class="module aligned wide">

<div class="form-row">
    
    <label class="required" for="id_old_password">Eski parola:</label> <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
</div>

<div class="form-row">
    
    <label class="required" for="id_new_password1">Yeni parola:</label> <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
    
    <div class="help"><ul><li>Parolanız diğer kişisel bilgileriniz ile çok benzer olamaz.</li><li>Parolanız en az 8 karakter içermek zorundadır.</li><li>Parolanız yaygın olarak kullanılan bir parola olamaz.</li><li>Parolanız tamamıyla sayısal olamaz.</li></ul></div>
    
</div>

<div class="form-row">

    <label class="required" for="id_new_password2">Yeni parola onayı:</label> <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
    
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="Parolamı değiştir" class="default">
</div>

</div>
</form></div>


          
          <br class="clear">
        </div>
        <div id="footer"></div>
      </div>
    </div>
</div>

</body>
</html>
