
<!DOCTYPE html>


<html lang="tr" dir="ltr">
<head>
<title>Oturum aç | Hoşgeldiniz</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>

<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
<meta name="robots" content="NONE,NOARCHIVE">
</head>
<body class=" login"
  data-admin-utc-offset="0">

<div id="container">

    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a >Hoşgeldiniz</a></h1>

        </div>
    </div>
    <div class="main shifted" id="main">
      <div class="content">
        <div id="content" class="colM">
<div id="content-main">
    <form class="user">
        <div class="form-group">
        <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
        </div>
        <div class="form-group">
        <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
        </div>
        <div class="form-group">
        <div class="custom-control custom-checkbox small">
        <input type="checkbox" class="custom-control-input" id="customCheck">
        <label class="custom-control-label" for="customCheck">Beni Hatırla</label>
        </div>
        </div>
        <div class="text-center">
            <a class="small" href="forgot_password.html">Şifremi Unuttum</a>
         </div>
        <a href="index.html" class="btn btn-primary btn-user btn-block">
        Giriş Yap
        </a>
</div>

          <br class="clear">
        </div>
        <div id="footer"></div>
      </div>
    </div>
</div>
</body>
</html>
